In [1]:
from google.oauth2 import service_account
import pandas_gbq as pd1
import pandas as pd
from datetime import datetime

In [2]:
credentials = service_account.Credentials.from_service_account_file('weatherdata1.json')
project_id = 'weatherdata1'
df_sql = f"""SELECT
                 *
                 FROM
                 `weatherdata1.WeatherSensorsData1.SensorsData1`
                 ORDER BY
                 DateTime ASC
                 """
df = pd1.read_gbq(df_sql, project_id = project_id, dialect = 'standard', credentials = credentials)
df['DateTime'] = pd.to_datetime(df['DateTime'])
# df['DateTime'] = pd.to_datetime(df['DateTime'], format="%Y-%m-%d %H:%M:%S")
df['Date'] = df['DateTime'].dt.date
# df['Date'] = pd.to_datetime(df['Date'])
df['Hour'] = pd.to_datetime(df['DateTime']).dt.hour

Downloading: 100%|████████████████████████████████████████████████████████████████████████████████████████████████████|

In [3]:
df.head()

,DateTime,InsideHumidity,InsideTemperature,InsideCO2,OutsideHumidity,OutsideTemperature,OutsideCO2,Date,Hour
0,2022-12-29 23:00:03,53.4,17.3,1069,85.6,3.8,2102,2022-12-29,23
1,2022-12-29 23:00:13,53.6,17.3,1069,85.7,3.8,2102,2022-12-29,23
2,2022-12-29 23:00:23,53.7,17.3,1069,85.7,3.8,2102,2022-12-29,23
3,2022-12-29 23:00:33,53.7,17.3,1069,85.8,3.8,2102,2022-12-29,23
4,2022-12-29 23:00:43,53.6,17.3,1082,85.8,3.8,2102,2022-12-29,23

In [18]:
df.to_csv('D:/Udemy projects/1 - Weather sensors/data.csv')

In [5]:
get_temp = df['InsideTemperature'].tail(1).iloc[0]
get_temp

18.2

In [6]:
unique_date = df['Date'].unique()
unique_date

array([datetime.date(2022, 12, 29), datetime.date(2022, 12, 30)],
      dtype=object)

In [7]:
filter_today_date = df[df['Date'] == unique_date[-1]][['Date', 'Hour', 'InsideTemperature']]
filter_today_date

            Date  Hour  InsideTemperature
359   2022-12-30     0               16.7
360   2022-12-30     0               16.7
361   2022-12-30     0               16.6
362   2022-12-30     0               16.6
363   2022-12-30     0               16.6
...          ...   ...                ...
4769  2022-12-30    12               18.2
4770  2022-12-30    12               18.2
4771  2022-12-30    12               18.2
4772  2022-12-30    12               18.2
4773  2022-12-30    12               18.2

[4415 rows x 3 columns]

In [8]:
today_hourly_values = filter_today_date.groupby(['Date', 'Hour'])['InsideTemperature'].mean().reset_index()
today_hourly_values

          Date  Hour  InsideTemperature
0   2022-12-30     0          15.780000
1   2022-12-30     1          14.835097
2   2022-12-30     2          14.407799
3   2022-12-30     3          14.113056
4   2022-12-30     4          13.822563
5   2022-12-30     5          13.576045
6   2022-12-30     6          13.384444
7   2022-12-30     7          13.210864
8   2022-12-30     8          13.149304
9   2022-12-30     9          13.555278
10  2022-12-30    10          15.683807
11  2022-12-30    11          17.508696
12  2022-12-30    12          18.226389

In [9]:
df_sql = f"""SELECT
             *
             FROM
             `weatherdata1.WeatherSensorsData1.SensorsData1`
             ORDER BY
             DateTime ASC
             """
df = pd1.read_gbq(df_sql, project_id = project_id, dialect = 'standard', credentials = credentials)
df['DateTime'] = pd.to_datetime(df['DateTime'])
df['Date'] = df['DateTime'].dt.date
df['Date'] = pd.to_datetime(df['Date'])
df['Hour'] = pd.to_datetime(df['DateTime']).dt.hour

Downloading: 100%|████████████████████████████████████████████████████████████████████████████████████████████████████|

In [10]:
unique_date = df['Date'].unique()
unique_date

array(['2022-12-29T00:00:00.000000000', '2022-12-30T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [11]:
filter_today_date = len(df[df['Date'] == unique_date[-1]])
filter_today_date

4416

In [12]:
filter_total_rows = len(df['Date'])
filter_total_rows

4775

In [44]:
header = ['DateTime', 'InsideHumidity', 'InsideTemperature', 'InsideCO2', 'OutsideHumidity', 'OutsideTemperature', 'OutsideCO2']
df = pd.read_csv('data.csv', names=header)
df

,DateTime,InsideHumidity,InsideTemperature,InsideCO2,OutsideHumidity,OutsideTemperature,OutsideCO2
0,2022-12-18 19:09:19,54.0,15.5,970,91.3,5.5,1972
1,2022-12-18 19:09:24,54.0,15.5,970,91.4,5.5,1967
2,2022-12-18 19:09:29,54.0,15.5,975,91.3,5.5,1972
3,2022-12-18 19:09:34,54.0,15.5,966,91.3,5.5,1972
4,2022-12-18 19:09:39,54.0,15.5,975,91.3,5.5,1972
...,...,...,...,...,...,...,...
94270,2022-12-30 12:19:13,57.8,18.4,1060,75.4,13.1,2116
94271,2022-12-30 12:19:23,57.8,18.4,1064,75.4,13.2,2116
94272,2022-12-30 12:19:33,57.8,18.4,1064,75.3,13.3,2116
94273,2022-12-30 12:19:43,57.8,18.4,1060,75.2,13.3,2116
94274,2022-12-30 12:19:53,57.8,18.4,1060,75.3,13.4,2116

In [45]:
df.to_csv('data.csv', index=False)

In [48]:
df = pd.read_csv('data.csv')
df

,DateTime,InsideHumidity,InsideTemperature,InsideCO2,OutsideHumidity,OutsideTemperature,OutsideCO2
0,2022-12-18 19:09:19,54.0,15.5,970,91.3,5.5,1972
1,2022-12-18 19:09:24,54.0,15.5,970,91.4,5.5,1967
2,2022-12-18 19:09:29,54.0,15.5,975,91.3,5.5,1972
3,2022-12-18 19:09:34,54.0,15.5,966,91.3,5.5,1972
4,2022-12-18 19:09:39,54.0,15.5,975,91.3,5.5,1972
...,...,...,...,...,...,...,...
94270,2022-12-30 12:19:13,57.8,18.4,1060,75.4,13.1,2116
94271,2022-12-30 12:19:23,57.8,18.4,1064,75.4,13.2,2116
94272,2022-12-30 12:19:33,57.8,18.4,1064,75.3,13.3,2116
94273,2022-12-30 12:19:43,57.8,18.4,1060,75.2,13.3,2116
94274,2022-12-30 12:19:53,57.8,18.4,1060,75.3,13.4,2116