In [37]:
from google.oauth2 import service_account
import pandas_gbq as pd1
import pandas as pd
from datetime import datetime
import pytz

In [31]:
credentials = service_account.Credentials.from_service_account_file('weatherdata1.json')
project_id = 'weatherdata1'
df_sql = f"""SELECT
                 *
                 FROM
                 `weatherdata1.WeatherSensorsData1.SensorsData1`
                 ORDER BY
                 DateTime ASC
                 """
df = pd1.read_gbq(df_sql, project_id = project_id, dialect = 'standard', credentials = credentials)
df['DateTime'] = pd.to_datetime(df['DateTime'])
df['Date'] = df['DateTime'].dt.date
df['Date'] = pd.to_datetime(df['Date'])
df['Hour'] = pd.to_datetime(df['DateTime']).dt.hour

Downloading: 100%|█████████████████████████████████████████████████████████████| 1244/1244 [00:00<00:00, 9318.16rows/s]

In [32]:
get_temp = df['InsideTemperature'].tail(1).iloc[0]
get_temp

16.8

In [33]:
unique_date = df['Date'].unique()
unique_date

array(['2022-12-16T00:00:00.000000000'], dtype='datetime64[ns]')

In [35]:
filter_today_date = df[df['Date'] == unique_date[-1]][['Date', 'Hour', 'InsideTemperature']]
filter_today_date

           Date  Hour  InsideTemperature
0    2022-12-16     9               14.7
1    2022-12-16     9               14.7
2    2022-12-16     9               14.7
3    2022-12-16     9               14.7
4    2022-12-16     9               14.7
...         ...   ...                ...
1239 2022-12-16     9               16.8
1240 2022-12-16     9               16.8
1241 2022-12-16     9               16.8
1242 2022-12-16     9               16.8
1243 2022-12-16     9               16.8

[1244 rows x 3 columns]

In [36]:
today_hourly_values = filter_today_date.groupby(['Date', 'Hour'])['InsideTemperature'].mean().reset_index()
today_hourly_values

        Date  Hour  InsideTemperature
0 2022-12-16     9          15.604502