In [1]:
from google.oauth2 import service_account
import pandas_gbq as pd1
import pandas as pd
from datetime import datetime
import pytz

In [45]:
credentials = service_account.Credentials.from_service_account_file('weatherdata1.json')
project_id = 'weatherdata1'
df_sql = f"""SELECT
                 *
                 FROM
                 `weatherdata1.WeatherSensorsData1.SensorsData1`
                 ORDER BY
                 DateTime ASC
                 """
df = pd1.read_gbq(df_sql, project_id = project_id, dialect = 'standard', credentials = credentials)
df['DateTime'] = pd.to_datetime(df['DateTime'])
# df['DateTime'] = pd.to_datetime(df['DateTime'], format="%Y-%m-%d %H:%M:%S")
df['Date'] = df['DateTime'].dt.date
# df['Date'] = pd.to_datetime(df['Date'])
df['Hour'] = pd.to_datetime(df['DateTime']).dt.hour

Downloading: 100%|██████████████████████████████████████████████████████████| 25856/25856 [00:00<00:00, 36952.94rows/s]

In [46]:
df.head()

,DateTime,InsideHumidity,InsideTemperature,InsideCO2,Date,Hour
0,2022-12-16 09:11:53,47.2,14.7,1554,2022-12-16,9
1,2022-12-16 09:11:54,47.2,14.7,1527,2022-12-16,9
2,2022-12-16 09:11:55,47.3,14.7,1505,2022-12-16,9
3,2022-12-16 09:11:56,47.3,14.7,1478,2022-12-16,9
4,2022-12-16 09:11:57,47.3,14.7,1455,2022-12-16,9

In [4]:
df.to_csv('D:/Udemy projects/1 - Weather sensors/data.csv')

In [5]:
get_temp = df['InsideTemperature'].tail(1).iloc[0]
get_temp

16.8

In [19]:
unique_date = df['Date'].unique()
unique_date

array(['2022-12-16T00:00:00.000000000', '2022-12-17T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [7]:
filter_today_date = df[df['Date'] == unique_date[-1]][['Date', 'Hour', 'InsideTemperature']]
filter_today_date

            Date  Hour  InsideTemperature
17344 2022-12-17    10               14.9
17345 2022-12-17    10               14.9
17346 2022-12-17    10               14.9
17347 2022-12-17    10               14.9
17348 2022-12-17    10               14.9
...          ...   ...                ...
25539 2022-12-17    17               16.8
25540 2022-12-17    17               16.8
25541 2022-12-17    17               16.8
25542 2022-12-17    17               16.8
25543 2022-12-17    17               16.8

[8200 rows x 3 columns]

In [8]:
today_hourly_values = filter_today_date.groupby(['Date', 'Hour'])['InsideTemperature'].mean().reset_index()
today_hourly_values

        Date  Hour  InsideTemperature
0 2022-12-17    10          14.900000
1 2022-12-17    14          19.520374
2 2022-12-17    15          19.052053
3 2022-12-17    16          17.653833
4 2022-12-17    17          17.061446

In [29]:
df_sql = f"""SELECT
             *
             FROM
             `weatherdata1.WeatherSensorsData1.SensorsData1`
             ORDER BY
             DateTime ASC
             """
df = pd1.read_gbq(df_sql, project_id = project_id, dialect = 'standard', credentials = credentials)
df['DateTime'] = pd.to_datetime(df['DateTime'])
df['Date'] = df['DateTime'].dt.date
df['Date'] = pd.to_datetime(df['Date'])
df['Hour'] = pd.to_datetime(df['DateTime']).dt.hour

Downloading: 100%|██████████████████████████████████████████████████████████| 25605/25605 [00:01<00:00, 22657.56rows/s]

In [30]:
unique_date = df['Date'].unique()
unique_date

array(['2022-12-16T00:00:00.000000000', '2022-12-17T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [32]:
filter_today_date = len(df[df['Date'] == unique_date[-1]])
filter_today_date

8261

In [33]:
filter_total_rows = len(df['Date'])
filter_total_rows

25605