In [1]:
from google.oauth2 import service_account
import pandas_gbq as pd1
import pandas as pd
from datetime import datetime

In [2]:
credentials = service_account.Credentials.from_service_account_file('weatherdata1.json')
project_id = 'weatherdata1'
df_sql = f"""SELECT
                 *
                 FROM
                 `weatherdata1.WeatherSensorsData1.SensorsData1`
                 ORDER BY
                 DateTime ASC
                 """
df = pd1.read_gbq(df_sql, project_id = project_id, dialect = 'standard', credentials = credentials)
df['DateTime'] = pd.to_datetime(df['DateTime'])
# df['DateTime'] = pd.to_datetime(df['DateTime'], format="%Y-%m-%d %H:%M:%S")
df['Date'] = df['DateTime'].dt.date
# df['Date'] = pd.to_datetime(df['Date'])
df['Hour'] = pd.to_datetime(df['DateTime']).dt.hour

Downloading: 100%|████████████████████████████████████████████████████████████████████████████████████████████████████|

In [3]:
df.head()

,DateTime,InsideHumidity,InsideTemperature,InsideCO2,OutsideHumidity,OutsideTemperature,OutsideCO2,Date,Hour
0,2022-12-27 23:00:05,55.5,18.7,1087,92.2,8.2,2080,2022-12-27,23
1,2022-12-27 23:00:10,55.5,18.7,1087,92.3,8.2,2080,2022-12-27,23
2,2022-12-27 23:00:15,55.5,18.7,1087,92.2,8.2,2080,2022-12-27,23
3,2022-12-27 23:00:20,55.5,18.7,1087,92.2,8.2,2080,2022-12-27,23
4,2022-12-27 23:00:25,55.6,18.7,1087,92.2,8.2,2080,2022-12-27,23

In [4]:
df.to_csv('D:/Udemy projects/1 - Weather sensors/data.csv')

In [5]:
get_temp = df['InsideTemperature'].tail(1).iloc[0]
get_temp

17.7

In [6]:
unique_date = df['Date'].unique()
unique_date

array([datetime.date(2022, 12, 27), datetime.date(2022, 12, 28)],
      dtype=object)

In [7]:
filter_today_date = df[df['Date'] == unique_date[-1]][['Date', 'Hour', 'InsideTemperature']]
filter_today_date

             Date  Hour  InsideTemperature
717    2022-12-28     0               18.4
718    2022-12-28     0               18.4
719    2022-12-28     0               18.4
720    2022-12-28     0               18.4
721    2022-12-28     0               18.5
...           ...   ...                ...
11460  2022-12-28    16               17.7
11461  2022-12-28    16               17.7
11462  2022-12-28    16               17.7
11463  2022-12-28    16               17.7
11464  2022-12-28    16               17.7

[10748 rows x 3 columns]

In [8]:
today_hourly_values = filter_today_date.groupby(['Date', 'Hour'])['InsideTemperature'].mean().reset_index()
today_hourly_values

          Date  Hour  InsideTemperature
0   2022-12-28     0          18.372841
1   2022-12-28     1          17.822594
2   2022-12-28     2          16.834540
3   2022-12-28     3          16.437517
4   2022-12-28     4          16.070613
5   2022-12-28     5          15.745125
6   2022-12-28     6          15.501953
7   2022-12-28     7          15.284819
8   2022-12-28     8          15.134868
9   2022-12-28     9          15.409958
10  2022-12-28    10          17.425905
11  2022-12-28    11          18.611576
12  2022-12-28    12          19.060306
13  2022-12-28    13          18.214731
14  2022-12-28    14          17.352507
15  2022-12-28    15          17.033557
16  2022-12-28    16          17.334783

In [9]:
df_sql = f"""SELECT
             *
             FROM
             `weatherdata1.WeatherSensorsData1.SensorsData1`
             ORDER BY
             DateTime ASC
             """
df = pd1.read_gbq(df_sql, project_id = project_id, dialect = 'standard', credentials = credentials)
df['DateTime'] = pd.to_datetime(df['DateTime'])
df['Date'] = df['DateTime'].dt.date
df['Date'] = pd.to_datetime(df['Date'])
df['Hour'] = pd.to_datetime(df['DateTime']).dt.hour

Downloading: 100%|████████████████████████████████████████████████████████████████████████████████████████████████████|

In [10]:
unique_date = df['Date'].unique()
unique_date

array(['2022-12-27T00:00:00.000000000', '2022-12-28T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [11]:
filter_today_date = len(df[df['Date'] == unique_date[-1]])
filter_today_date

10748

In [12]:
filter_total_rows = len(df['Date'])
filter_total_rows

11465