In [1]:
from google.oauth2 import service_account
import pandas_gbq as pd1
import pandas as pd
from datetime import datetime
import pytz

In [2]:
credentials = service_account.Credentials.from_service_account_file('weatherdata1.json')
project_id = 'weatherdata1'
df_sql = f"""SELECT
                 *
                 FROM
                 `weatherdata1.WeatherSensorsData1.SensorsData1`
                 ORDER BY
                 DateTime ASC
                 """
df = pd1.read_gbq(df_sql, project_id = project_id, dialect = 'standard', credentials = credentials)
df['DateTime'] = pd.to_datetime(df['DateTime'])
df['Date'] = df['DateTime'].dt.date
df['Date'] = pd.to_datetime(df['Date'])
df['Hour'] = pd.to_datetime(df['DateTime']).dt.hour

Downloading: 100%|██████████████████████████████████████████████████████████| 11342/11342 [00:00<00:00, 12927.95rows/s]

In [23]:
df.to_csv('D:/Udemy projects/1 - Weather sensors/data.csv')

In [3]:
get_temp = df['InsideTemperature'].tail(1).iloc[0]
get_temp

18.8

In [4]:
unique_date = df['Date'].unique()
unique_date

array(['2022-12-16T00:00:00.000000000'], dtype='datetime64[ns]')

In [5]:
filter_today_date = df[df['Date'] == unique_date[-1]][['Date', 'Hour', 'InsideTemperature']]
filter_today_date

            Date  Hour  InsideTemperature
0     2022-12-16     9               14.7
1     2022-12-16     9               14.7
2     2022-12-16     9               14.7
3     2022-12-16     9               14.7
4     2022-12-16     9               14.7
...          ...   ...                ...
11337 2022-12-16    21               18.8
11338 2022-12-16    21               18.8
11339 2022-12-16    21               18.8
11340 2022-12-16    21               18.8
11341 2022-12-16    21               18.8

[11342 rows x 3 columns]

In [6]:
today_hourly_values = filter_today_date.groupby(['Date', 'Hour'])['InsideTemperature'].mean().reset_index()
today_hourly_values

        Date  Hour  InsideTemperature
0 2022-12-16     9          16.014681
1 2022-12-16    10          17.672403
2 2022-12-16    14          19.897537
3 2022-12-16    17          16.564642
4 2022-12-16    18          16.788384
5 2022-12-16    19          16.458819
6 2022-12-16    21          18.800000

In [16]:
df_sql = f"""SELECT
             *
             FROM
             `weatherdata1.WeatherSensorsData1.SensorsData1`
             """
df = pd1.read_gbq(df_sql, project_id = project_id, dialect = 'standard', credentials = credentials)
df['DateTime'] = pd.to_datetime(df['DateTime'])
df['Date'] = df['DateTime'].dt.date
df['Date'] = pd.to_datetime(df['Date'])
df['Hour'] = pd.to_datetime(df['DateTime']).dt.hour

Downloading: 100%|██████████████████████████████████████████████████████████| 12586/12586 [00:00<00:00, 15405.13rows/s]

In [17]:
unique_date = df['Date'].unique()

In [19]:
filter_today_date = len(df[df['Date'] == unique_date[-2]])
filter_today_date

IndexError: index -2 is out of bounds for axis 0 with size 1